header {
    position:relative;
    display:block;
    max-width:100%;
    height:100%;
    margin:0 auto;
    padding:1rem 5rem;
    background:#ffffff;
    color:white;
}
header h1 {
    line-height: 45px;
    font-size: 2rem;
    padding: 20px;
    background-color: #4aaaa5;
    margin: 0;
    display:inline;
}
nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float:right;
    display:inline;
}

nav  li {
    position:relative;
    display:inline-block;
    list-style-type: none;
    font-family: "Open Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    color: #777777;
    padding:0 1rem;
}
nav li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
nav > li > a:hover,
nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}



hr {
	color: #dddddd;
}



section {
	width:960px;
	height: 500px;
}

#maincontent {
	float:left;
	width: 650px;
	height: 400px
	color: #4aaaa5;

	margin-top: 20px;
	background: #fff;
	border: 1px solid #eee;
	border-color: #dddddd
}

#sidebar {
	width: 270px;
	height: 200px;
	background: #fff;
	color: #4aaaa5;
	margin-top: 20px;
	text-align: center;
	float: right;
}

footer {
	background-color: #666666;
	padding: 20px;
	border-top: 10px solid #4aaaa5;
	clear: both;
	text-align: center
}